@charset "utf-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1em;
  font-family: 'Geo', sans-serif;
}
button,
input {
  border-style: none;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}
